.dark {
  background-color: $background-color-dark;
  .podcast__item__text{
    border-color: rgba(255,255,255,.09);
  }
  .header{
    border-bottom: 1px solid rgba(104, 99, 253, 0.2);
  }
  .style-switcher, .toggle-style-switcher{
    background-color: $background-color-dark;
    border-color: rgba(255,255,255,.09);
    color: white;
  }
  .toggle-style-switcher{
    border-right: 1px solid rgba(255,255,255,.09);
  }
  .style-switcher h5 {
    color: white;
  }
  .single__track{
    background-color: rgba(0, 0, 0, 0.5);
  }
  .track__option .jp-seek-bar > div {
    background-color: rgba(103, 99, 125, 0.1);
  }
  .footer__subscriber{
    background-color: $background-color-dark;
    border: 1px solid rgba(255,255,255,.09);
  }
  .podcast__top ul li.active{
    color: #6763fd !important;
  }
  .jp-play-bar{
    background-color: white;
  }
  .podcast__item__text ul li span{
    color: white;
  }
  .podcast__item__text .heart-icon{
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.09);
  }
  .dark .btn-check:checked + .btn, .dark :not(.btn-check) + .btn:active, .dark .btn:first-child:active, .dark .btn.active, .dark .btn.show {
    border: 1px solid white !important
  }
  .btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible{
    border: 1px solid white !important
  }
  
  .style-switcher {
    .btn{
      border: 1px solid white;
    outline: 2px solid white;
    }
    .btn.theme-buttons{
      background-color: rgba(255, 255, 255, 0.09);
    }
    .btn.theme-buttons.active {
      background-color: $background-color-dark;
      border: 1px solid white;
    outline: 2px solid white;
    }
  }
  .btn:hover{
    border: 1px solid white;
    outline: 2px solid white;
  }
  button,.primary-btn{
    background-color: $background-color-dark;
    border: 1px solid rgba(255,255,255,.09);
    color: white;
  }
  .primary-btn.white-btn{
    background-color: white;
    color: black;
  }
  .podcast__top ul li:after{
    background-color: white;
  }
  .header__menu ul li a:after{
    background-color: white;
  }
  .jp-volume-bar-value{
    background-color: white;
  }
  .podcast {
    .podcast__top {
      h2,
      li {
        color: $text-color-dark !important;
      }
    }
    .podcast-filter {
      h4,
      ul > li,
      p {
        color: $text-color-dark !important;
      }
      .jp-current-time,
      .jp-duration,
      button,
      .jp-btns > a {
        color: $text-color-dark !important;
      }
    }
  }
  .load__more > a {
    color: $text-color-dark !important;
  }
  .section-title h2 {
    color: $text-color-dark !important;
  }
  .about {
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $text-color-dark !important;
    }
  }
  .team {
    h4 {
      color: $text-color-dark !important;
    }
  }
  .episodes__details__text,
  .episodes__details__desc,
  .episodes__details__btns,
  .sidebar,
  .episodes__details__form {
    h4,
    h5,
    h6,
    a,
    li,
    p {
      color: $text-color-dark !important;
    }
  }
  .contact {
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $text-color-dark !important;
    }
  }
  .blog {
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    a,
    p {
      color: $text-color-dark !important;
    }
    .blog__pagination a {
      color: $background-color-dark !important;
    }
  }
  .blog-details {
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    a,
    p {
      color: $text-color-dark !important;
    }
    .letter-cap {
      color: $text-color-dark !important;
    }
  }
}

.text-medium {
  header {
    a {
      font-size: 20px;
    }
  }
  .hero {
    h2 {
      font-size: $h2-medium;
    }
    a {
      font-size: 16px;
    }
  }
  h2 {
    font-size: 43px;
  }
  h4 {
    font-size: 26px;
  }
  p {
    font-size: 17px;
  }
  .podcast {
    img {
      height: 381px;
    }
  }
  .episodes {
    h2 {
      font-size: 42px !important;
    }
    h4 {
      font-size: 26px !important;
    }
  }
  .callto {
    h2 {
      font-size: 52px !important;
    }
    p {
      font-size: 24px !important;
    }
    a.primary-btn {
      font-size: 17px !important;
    }
  }
  .breadcrumb__text {
    h2 {
      font-size: 63px;
    }
    a,
    span {
      font-size: 17px !important;
    }
  }
  .about {
    .about__text,
    .about__item {
      span {
        font-size: 18px !important;
      }
      h6 {
        font-size: 19px !important;
      }
      a {
        font-size: 17px !important;
      }
    }
  }
  .team {
    h2 {
      font-size: 46px !important;
    }
  }
  .footer {
    h3 {
      font-size: 32px !important;
    }
    input::placeholder {
      font-size: 17px;
    }
  }
  .single__track {
    h5 {
      font-size: 20px !important;
    }
    span {
      font-size: 17px !important;
    }
  }
  .jp-current-time,
  .jp-duration {
    font-size: 17px !important;
  }
  .load__more {
    a {
      font-size: 17px;
    }
  }
  .contact__form {
    input,
    textarea,
    button {
      font-size: 17px;
    }
  }
  .blog {
    a,
    .blog_date {
      font-size: 17px !important;
    }
  }
  .sidebar {
    h6 {
      font-size: 19px;
    }
    a {
      font-size: 20px;
    }
    .sidebar__tags {
      a {
        font-size: 15px;
      }
    }
    .sidebar__banner {
      span {
        font-size: 19px;
      }
    }
    .sidebar__categories {
      ul > li > a {
        font-size: 20px !important;
      }
    }
  }
  .blog-details-hero {
    h2 {
      font-size: 62px;
    }
    ul > li > span {
      font-size: 16px;
    }
  }
  .blog__details__text {
    p {
      font-size: 19px !important;
    }
  }
  .blog__details__quote {
    p {
      font-size: 26px !important;
    }
  }
  .blog__details__desc {
    p {
      font-size: 19px;
    }
  }
  .blog__details__tags {
    span {
      font-size: 19px !important;
    }
  }
  .blog__details__btns__item {
    h5 {
      font-size: 22px !important;
    }
  }
  .blog__details__comment {
    h5 {
      font-size: 20px !important;
    }
  }
  .blog__details__comment__form {
    input,
    textarea,
    button {
      font-size: 19px !important;
    }
  }
  .episodes-details {
    li {
      font-size: 20px;
    }
  }
  .episodes__details__form {
    input,
    textarea,
    button {
      font-size: 17px !important;
    }
  }
  .episodes__details__text {
    p {
      font-size: 19px;
    }
  }
  .episodes__details__desc {
    p {
      font-size: 19px;
    }
  }
  .episodes__details__btns__item {
    h5 {
      font-size: 22px;
    }
  }
  // medium end here
}
.text-large {
  .header {
    a {
      font-size: 22px;
    }
  }

  .hero {
    h2 {
      font-size: 65px !important;
    }
    a {
      font-size: 16px;
    }
  }
  h2 {
    font-size: 45px;
  }
  h4 {
    font-size: 28px;
  }
  p {
    font-size: 19px;
  }
  .podcast {
    img {
      height: 381px;
    }
  }
  .episodes {
    h2 {
      font-size: 44px !important;
    }
    h4 {
      font-size: 28px !important;
    }
  }
  .callto {
    h2 {
      font-size: 54px !important;
    }
    p {
      font-size: 26px !important;
    }
    a.primary-btn {
      font-size: 19px !important;
    }
  }
  .breadcrumb__text {
    h2 {
      font-size: 65px;
    }
    a,
    span {
      font-size: 19px !important;
    }
  }
  .about {
    .about__text,
    .about__item {
      span {
        font-size: 20px !important;
      }
      h6 {
        font-size: 21px !important;
      }
      a {
        font-size: 19px !important;
      }
    }
  }
  .team {
    h2 {
      font-size: 48px !important;
    }
  }
  .footer {
    h3 {
      font-size: 33px !important;
    }
    input::placeholder {
      font-size: 19px;
    }
  }
  .single__track {
    h5 {
      font-size: 22px !important;
    }
    span {
      font-size: 19px !important;
    }
  }
  .jp-current-time,
  .jp-duration {
    font-size: 19px !important;
  }
  .load__more {
    a {
      font-size: 19px;
    }
  }
  .contact__form {
    input,
    textarea,
    button {
      font-size: 19px;
    }
  }
  .blog {
    a,
    .blog_date {
      font-size: 19px !important;
    }
  }
  .sidebar {
    h6 {
      font-size: 21px;
    }
    a {
      font-size: 22px;
    }
    .sidebar__tags {
      a {
        font-size: 17px;
      }
    }
    .sidebar__banner {
      span {
        font-size: 21px;
      }
    }
    .sidebar__categories {
      ul > li > a {
        font-size: 22px !important;
      }
    }
  }
  .blog-details-hero {
    h2 {
      font-size: 64px;
    }
    ul > li > span {
      font-size: 18px;
    }
  }
  .blog__details__text {
    p {
      font-size: 21px !important;
    }
  }
  .blog__details__quote {
    p {
      font-size: 28px !important;
    }
  }
  .blog__details__desc {
    p {
      font-size: 21px;
    }
  }
  .blog__details__tags {
    span {
      font-size: 21px !important;
    }
  }
  .blog__details__btns__item {
    h5 {
      font-size: 24px !important;
    }
  }
  .blog__details__comment {
    h5 {
      font-size: 22px !important;
    }
  }
  .blog__details__comment__form {
    input,
    textarea,
    button {
      font-size: 21px !important;
    }
  }
  .episodes-details {
    li {
      font-size: 22px;
    }
  }
  .episodes__details__form {
    input,
    textarea,
    button {
      font-size: 19px !important;
    }
  }
  .episodes__details__text {
    p {
      font-size: 21px;
    }
  }
  .episodes__details__desc {
    p {
      font-size: 21px;
    }
  }
  .episodes__details__btns__item {
    h5 {
      font-size: 24px;
    }
  }
  // medium end here
}
